.cambios_banner {
  background-color: #A7D5FF;
}
.cambios_banner_title {
  color:white;
}

.cambios_banner_img {
  text-align: center
}


.clasif {
  background-color: #E16163; 
  color:white;
}

.clasi_item_title {
  font-size:1.5625rem;
  font-weight: 700;


}

.color_a {
  color:white;
}

.clasi-item-1 {
  font-size:1.25rem;
  
}
.clasi-item-2 {
  font-size:1.25rem;
  padding-left:2em !important;
}
.clasi-item-3 {
  font-size:1.25rem;
  padding-left:4em !important;
}
.program-column {
  align-self: center;
} 

.program-title {
  text-align: right !important;
  font-size:1.5625rem;
}

.program-item {
  font-size:1.25rem;
}

.versus-anho {
  font-size:3.125em;
  color: #CBE776;
}

.versus-columna {

  color:white;
  background-color: #A7D5FF;
  
}

.versus-columna h3 {
  font-size:1rem;
  font-weight: 700;
}

.versus-columna p {
  font-size:0.8125rem;
  font-weight: 500;
}


.central {
  margin:50% 0%;
}



 .boton-descarga {
  
  background: #E16163;
  
 
} 

@media only screen and (max-width: 768px) {
  
 
}