.banner {
  background-color: #A7D5FF;
  padding-top: 8% !important;
  margin-bottom: 5% !important;
}

.banner__img {
  width: 100%;
  position: relative;
  top: 50% !important;
}

.banner__text {
  align-self: center ;
  padding-bottom: 10%;
}

.banner__text_title {
  font-size:36px;
  line-height: 50px;
  
  font-weight: bold;
  color: #363736 !important;
}

.button__primary {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  background: #CBE776;
  color: #FFFFFF;
  line-height: 12px;
  font-size: 12px;
  padding:2% 5%;
  border:none;
  text-decoration:none;
}
.button__primary:hover {
  background:#A7D5FF;
  text-decoration:none;
}


.banner__preparar {
  padding-top: 0% !important;
  padding-left: 10% !important;
  background-color: #E16163;
  margin-bottom: 15% !important;
}


.familia__text {
  align-self: center ;
}

.familia__text_title {
  font-size:25px;
  line-height: 25px;
  font-weight: 500;
  font-size: 25px;
  color: white; 
}

.familia_text_title_span {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase !important;
}
.familia__img {
  width: 100%;
  position: relative;
  top: 45%;
}

.banner__elabora {
  margin-bottom:15% !important;
}

.banner__elabora_title {
  text-align: center !important;
  font-size:25px;
  font-weight: 500;
  line-height: 25px;
  color: #363736;
}

.banner__elabora_title_span {
  font-weight: bold;
  text-transform: uppercase;

}

.card__img {
  width:100%;
}

.banner__cumplir {
  background-color: #E16163;
  padding: 15% 10%;
  margin-bottom:15%;
  
}
.banner__cumplir__img {
  width:75%;
}

.banner__cumplir_text {
  align-self: center;
}

.banner__cumplir_text_title {
  text-align: right;
  font-size:25px;
  font-weight: 500;
  line-height: 25px;
  color:#FFFFFF;
  font-style:normal;
}

.banner__conoce {
  margin-bottom:15%;
}

.banner__conoce_title {
  font-size:24px;
  line-height: 30px;
  color: #363736;
  margin-bottom:5%;
}

.card {
  border:none;
}

.card__title {
  font-weight: 500;
  font-size:15px;
  line-height: 18px;
  color:#363736;
}

.presupuesto_total__title {
  color: #E16163 !important;
  line-height: 33px;
  font-size: 28px;
  font-weight: bold;
}

.presupuesto_total__subtitle {
  font-weight: bold;
  color: #000000;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}

.presupuesto_total__subtitle_secondary {
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}

.presupuesto_total__card_img {
  align-self: center;
  width:50%
}

.presupuesto_total__card_title {
  font-weight: 500;
  font-size:14px;
  line-height: 18px;
  color:#363736;
} 

.presupuesto_total__card__title_two {
  color: #E16163 !important;
  line-height: 33px;
  font-size: 28px;
  font-weight: bold;
} 

.presupuesto_total__subtitle_two {
  font-weight: bold;
  color: #000000;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
}



.presupuesto_total__card_monto_primary {
  font-weight: bold;
  font-size:14px;
  line-height: 18px;
  color:#363736;
}

.presupuesto_total__card_monto_secondary {
  font-weight: 400;
  font-size:14px;
  line-height: 18px;
  color:#363736;
}


.button__secundary {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  
  background:#A7D5FF;
  color: #FFFFFF;
  line-height: 12px;
  font-size: 12px;
  padding:2% 5%;
  border:none;
  text-decoration:none;
}
.button__secundary:hover {
  background: #CBE776;
}

.information {
  background: #CBE776;
}

.information__title {
  font-size: 24px;
  line-height: 30px;
  color: #363736;
  font-weight: bold;
}

.information__subtitle {
  color: #363736;
  line-height: 18px;
  font-size: 15px;
  font-weight: 400;
}


.item_ods {
  background:#A7D5FF !important;
  margin-bottom: 2em !important;
  border:none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  color:white;
  text-align:center;
}


.list-group-item.active {
  background:  #CBE776 !important;
}


/* Slides */ 
.slide-title {
  color:black;
}

.slide-text {
  color:black;
}

.slide-text-side {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.carousel-control-next {
  right: 0;
  color:black;
}

.carousel-control-next-icon {
  background-image: url("../../assets/icons/arrow-right-solid.svg") !important;
}

.carousel-control-prev-icon {
  background-image: url("../../assets/icons/arrow-left-solid.svg") !important;
}

 @media only screen and (max-width: 600px) {
  .carousel-item.active {
   height: 100vh !important;
  }
}




 
  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
   
  }
  .tarjeta {
    flex: 0 0 auto;
    margin-right: 15px;
  }
  
  .tarjeta {
    background: #FFFFFF;
    border-radius: 20px;
    width: 200px;
    height: 220px;
    text-align: center;
    padding:0px 20px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3);
    
  }
  
  .scrolling-wrapper, .scrolling-wrapper-flexbox {
    margin-top: 40px;
    height: 320px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
   
  }

  .timeline {
    background:#CBE776;
  }

  .tarjeta-title {
    padding-top:10px;
    font-size:1.063em;
  }

  .tarjeta-text {
    font-size:0.813em;
  }

.timeline ::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.timeline ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.timeline ::-webkit-scrollbar-thumb {
  background:white; 
  border-radius: 10px;
}

/* Handle on hover */
.timeline ::-webkit-scrollbar-thumb:hover {
  background: gray; 
}

  