.banner {
  background-color: #A7D5FF;
}
.banner__img {
  width:100%;
}


.familia {
  background-color: #E16163;
}
.familia__img {
  width: 100%;
}

.card__img {
  width:100%;
}

.banner_cumplir {
  background-color: #E16163;
}
.banner_cumplir__img {
  width:100%;
}

