.navbar__title {
  color: #363736 !important;
  font-family: 'Helsinki';
  line-height: 28px;
  font-size: 1.500em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.05em !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.navbar__item {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  color: #363736;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding-left:6em !important;

}

@media only screen and (max-width: 768px) {
  .navbar__title {
    font-size: 1em;
  }
  .navbar-toggler {
    border:none;
  }
 
}